@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:50px;
  font:14px Helvetica, Arial, sans-serif;
  color:#777;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

header {
  width:270px;
  float:left;
  position:fixed;
}

header ul {
  list-style:none;
  height:40px;
  
  padding:0;
  
  background: #eee;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  
  border-radius:5px;
  border:1px solid #d2d2d2;
  box-shadow:inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
  width:270px;
}

header li {
  width:89px;
  float:left;
  border-right:1px solid #d2d2d2;
  height:40px;
}

header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:40px;
}

strong {
  color:#222;
  font-weight:700;
}

header ul li + li {
  width:88px;
  border-left:1px solid #fff;
}

header ul li + li + li {
  border-right:none;
  width:89px;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
}

@media print, screen and (max-width: 960px) {
  
  div.wrapper {
    width:auto;
    margin:0;
  }
  
  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }
  
  header {
    padding-right:320px;
  }
  
  section {
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }
  
  header a small {
    display:inline;
  }
  
  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }
  
  header {
    padding:0;
  }
  
  header ul, header p.view {
    position:static;
  }
  
  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
  
  header ul {
    display:none;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}






button {
  position: relative;
  margin: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
  overflow: visible; }

.btn, .us-form .btn, .pds-vote-button, .flat_btn {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  height: auto;
  margin: 2px;
  padding: 0.5em 1em;
  color: #333333 !important;
  background-color: #ececec;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ececec));
  background-image: -webkit-linear-gradient(top, white, #ececec);
  background-image: -moz-linear-gradient(top, white, #ececec);
  background-image: -ms-linear-gradient(top, white, #ececec);
  background-image: -o-linear-gradient(top, white, #ececec);
  background-image: linear-gradient(top, white, #ececec);
  border: 1px solid #eaeaea;
  border-radius: 0.3em;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1em;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  behavior: url("//www.uswitch.com/home-1/PIE.htc");
  -webkit-transition: box-shadow 200ms, border-color 200ms;
  -moz-transition: box-shadow 200ms, border-color 200ms;
  -ms-transition: box-shadow 200ms, border-color 200ms;
  -o-transition: box-shadow 200ms, border-color 200ms;
  transition: box-shadow 200ms, border-color 200ms; }
  .btn.btn_big, .us-form .btn.btn_big, .pds-vote-button.btn_big, .flat_btn.btn_big {
    font-size: 17px; }
  .btn:hover, .us-form .btn:hover, .pds-vote-button:hover, .flat_btn:hover {
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 0 3px #ffff88;
    behavior: url("//www.uswitch.com/home-1/PIE.htc"); }
  .btn:active, .us-form .btn:active, .pds-vote-button:active, .flat_btn:active {
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.4), 0 0 0 3px yellow; }

.btn_dark_bg {
  color: black;
  box-shadow: inset 1px 10px 0 white, 1px 1px 2px #333333; }

/* disabled */
.btn_disabled, .btn_disabled:hover, .btn_disabled:active, .us-form .btn_disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
  box-shadow: none !important;
  cursor: default; }

/* arrowed (input="submit" won't use this - you can't add pseudo elements to inputs) */
.btn_arrowed:after {
  content: "\25b6";
  position: relative;
  display: static;
  margin: 0 0 0 0.6em;
  opacity: 0.5;
  font-family: uswitch-icon, sans-serif;
  font-size: 0.7em;
  line-height: 1.1em; }

/* colours */

.btn_green, .us-form .btn_green {
  color: white !important;
  background: #5d9823;
  border-color: #459d0b;
  background-color: #4fb40d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #89cb06), color-stop(100%, #4fb40d));
  background-image: -webkit-linear-gradient(top, #89cb06, #4fb40d);
  background-image: -moz-linear-gradient(top, #89cb06, #4fb40d);
  background-image: -ms-linear-gradient(top, #89cb06, #4fb40d);
  background-image: -o-linear-gradient(top, #89cb06, #4fb40d);
  background-image: linear-gradient(top, #89cb06, #4fb40d); }