/* line 1, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-on body {
  height: 100%;
  overflow: hidden;
}

/* line 5, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: #005a7e;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
/* line 18, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-ready .us-modal-overlay {
  display: block;
}
/* line 20, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-on .us-modal-overlay {
  display: block;
  opacity: 0.7;
}

/* line 23, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-box {
  display: none;
  position: fixed;
  left: 50%;
  top: 30px;
  top: 3vh;
  z-index: 9999;
  width: 600px;
  margin: 0 0 0 -300px;
  padding: 0;
  background: white;
  opacity: 0;
  overflow: visible;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: opacity, -webkit-transform 0.2s, 0.2s;
  -moz-transition: opacity, -moz-transform 0.2s, 0.2s;
  transition: opacity, transform 0.2s, 0.2s;
}
/* line 43, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-ready.us-modal-box {
  display: block !important;  /**/
}
/* line 45, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-on.us-modal-box {
  display: block !important;  /**/
  opacity: 1;
  -webkit-transform: scale(1) translateY(0);
  -moz-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}
/* line 51, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-box header, .us-modal-box footer {
  position: relative; /**/
  width: auto; /**/
  min-height: 1.4em;  /**/
  margin: 0;  /**/
  float: none;  /**/
  padding: 0.3em 2.3em 0.3em 0.5em;
  color: white;
  background-color: #00b7ff;
  font-family: "FS Elliot Web Regular", Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
}
/* line 60, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-box footer {
  display: none;
  position: absolute;
  bottom: -62px;
  left: 0;
  right: 0;
  height: 34px;
  padding: 14px 16px;
  color: #333333;
  background-color: #eeeeee;
  font-size: 1em;
}
/* line 71, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-box footer h3, .us-modal-box footer h4 {
  float: left;
  font-size: 1.2em;
  margin: 0.3em 0;
  font-family: "FS Elliot Web Bold", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
/* line 77, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-box footer h4 {
  font-size: 1em;
  margin: 0.5em 0;
}
/* line 80, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-box footer p {
  float: left;
  margin: 0.5em 0;
}
/* line 83, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-box footer b {
  font-family: "FS Elliot Web Bold", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
/* line 86, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-box footer button {
  float: right;
}
/* line 88, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-box h2 {
  font-weight: normal;
}

/* line 90, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-xs {
  width: 400px;
  margin-left: -200px;
}

/* line 93, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-s {
  width: 500px;
  margin-left: -250px;
}

/* line 96, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-l {
  width: 700px;
  margin-left: -350px;
}

/* line 99, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-xl {
  width: 800px;
  margin-left: -400px;
}

/* line 102, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-title {
  margin: 0;
  color: #fff;
  font-size: 1em;
}

/* line 105, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-close {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 2em;
  background-color: #3fc9ff;
  background: -moz-linear-gradient(top, #df4a3a 0%, #df4a3a 50%, #3fc9ff 50%, #3fc9ff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #df4a3a), color-stop(50%, #df4a3a), color-stop(50%, #3fc9ff), color-stop(100%, #3fc9ff));
  background: -webkit-linear-gradient(top, #df4a3a 0%, #df4a3a 50%, #3fc9ff 50%, #3fc9ff 100%);
  background: -ms-linear-gradient(top, #df4a3a 0%, #df4a3a 50%, #3fc9ff 50%, #3fc9ff 100%);
  background: linear-gradient(to bottom, #df4a3a 0%, #df4a3a 50%, #3fc9ff 50%, #3fc9ff 100%);
  background-size: 100% 200%;
  background-position: 0 100%;
  text-indent: -9em;
  overflow: hidden;
  -webkit-transition: background-position 200ms;
  -moz-transition: background-position 200ms;
  transition: background-position 200ms;
  -webkit-tap-highlight-color: #df4a3a;
}
/* line 128, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-close:before {
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  content: "\2715";
  color: white;
  font-family: "uswitch-icon";
  font-size: 1em;
  text-indent: 0;
  text-align: center;
  line-height: 1;
}

/* line 140, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.no-touch .us-modal-close:hover {
  background-position: 0 0;
}

/* line 143, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-noclose header {
  margin-right: 0.5em;
}
/* line 145, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-noclose .us-modal-close {
  display: none;
}

/* line 147, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-content {
  max-height: 420px;
  max-height: 78vh;
  padding: 1.2em;
  overflow: auto;
}

/* line 153, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-footer .us-modal-content {
  max-height: 350px;
  max-height: 62vh;
}
/* line 156, ../../../app/assets/stylesheets/_uswitch_modal.sass */
.us-modal-footer footer {
  display: block;
}

/* line 158, ../../../app/assets/stylesheets/_uswitch_modal.sass */
#us-modal-loading {
  width: 1px;
  height: 35px;
  margin: 40px auto 10px;
}

@media screen and (max-height: 650px) {
  /* line 168, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-box header, .us-modal-xl header {
    font-size: 24px;
  }
  /* line 170, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-box footer, .us-modal-xl footer {
    bottom: -50px;
    padding: 8px 16px;
  }

  /* line 173, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-content {
    max-height: 250px;
    max-height: 62vh;
  }
}
@media screen and (max-width: 800px) {
  /* line 181, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-on .us-modal-overlay {
    display: none;
  }

  /* line 183, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-xl {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    max-height: 100%;
    margin: 0;
    opacity: 1;
    -webkit-transform: translateY(110%);
    -moz-transform: translateY(110%);
    transform: translateY(110%);
    -webkit-overflow-scrolling: touch;
  }
  /* line 196, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-xl .us-modal-content {
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 9999em;
  }
  /* line 204, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-xl.us-modal-footer .us-modal-content {
    bottom: 72px;
  }
  /* line 206, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-xl.us-modal-footer footer {
    bottom: 0;
  }
}
@media screen and (max-width: 800px) and (max-height: 650px) {
  /* line 211, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-box.us-modal-xl .us-modal-content {
    top: 48px;
  }
  /* line 214, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-box.us-modal-xl.us-modal-footer .us-modal-content {
    bottom: 50px;
  }
}
@media screen and (max-width: 700px) {
  /* line 222, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-on .us-modal-overlay {
    display: none;
  }

  /* line 224, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-l {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    max-height: 100%;
    margin: 0;
    opacity: 1;
    -webkit-transform: translateY(110%);
    -moz-transform: translateY(110%);
    transform: translateY(110%);
    -webkit-overflow-scrolling: touch;
  }
  /* line 237, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-l .us-modal-content {
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 9999em;
  }
  /* line 245, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-l.us-modal-footer .us-modal-content {
    bottom: 72px;
  }
  /* line 247, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-l.us-modal-footer footer {
    bottom: 0;
  }
}
@media screen and (max-width: 700px) and (max-height: 650px) {
  /* line 252, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-box.us-modal-l .us-modal-content {
    top: 48px;
  }
  /* line 255, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-box.us-modal-l.us-modal-footer .us-modal-content {
    bottom: 50px;
  }
}
@media screen and (max-width: 600px) {
  /* line 263, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-on .us-modal-overlay {
    display: none;
  }

  /* line 265, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-box {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    max-height: 100%;
    margin: 0;
    opacity: 1;
    -webkit-transform: translateY(110%);
    -moz-transform: translateY(110%);
    transform: translateY(110%);
    -webkit-overflow-scrolling: touch;
  }
  /* line 278, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-box .us-modal-content {
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 9999em;
  }
}
@media screen and (max-width: 600px) and (max-height: 650px) {
  /* line 288, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-box .us-modal-content {
    top: 48px;
  }
  /* line 291, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-box.us-modal-footer .us-modal-content {
    bottom: 50px;
  }
}
@media screen and (max-width: 500px) {
  /* line 299, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-on .us-modal-overlay {
    display: none;
  }

  /* line 301, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-s {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    max-height: 100%;
    margin: 0;
    opacity: 1;
    -webkit-transform: translateY(110%);
    -moz-transform: translateY(110%);
    transform: translateY(110%);
    -webkit-overflow-scrolling: touch;
  }
  /* line 314, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-s .us-modal-content {
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 9999em;
  }
  /* line 322, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-s.us-modal-footer .us-modal-content {
    bottom: 72px;
  }
  /* line 324, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-s.us-modal-footer footer {
    bottom: 0;
  }
}
@media screen and (max-width: 500px) and (max-height: 650px) {
  /* line 329, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-box.us-modal-s .us-modal-content {
    top: 48px;
  }
  /* line 332, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-box.us-modal-s.us-modal-footer .us-modal-content {
    bottom: 50px;
  }
}
@media screen and (max-width: 400px) {
  /* line 340, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-on .us-modal-overlay {
    display: none;
  }

  /* line 342, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-xs {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    max-height: 100%;
    margin: 0;
    opacity: 1;
    -webkit-transform: translateY(110%);
    -moz-transform: translateY(110%);
    transform: translateY(110%);
    -webkit-overflow-scrolling: touch;
  }
  /* line 355, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-xs .us-modal-content {
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 9999em;
  }
  /* line 363, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-xs.us-modal-footer .us-modal-content {
    bottom: 72px;
  }
  /* line 365, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-xs.us-modal-footer footer {
    bottom: 0;
  }
}
@media screen and (max-width: 400px) and (max-height: 650px) {
  /* line 370, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-box.us-modal-xs .us-modal-content {
    top: 48px;
  }
  /* line 373, ../../../app/assets/stylesheets/_uswitch_modal.sass */
  .us-modal-box.us-modal-xs.us-modal-footer .us-modal-content {
    bottom: 50px;
  }
}