/* uswitch modals v0.5 - https://github.com/uswitch/ustyle-modals */
/* lock the viewport height (stops content scrolling on all bar ios) */
.us-modal-on body {
  height: 100%;
  overflow: hidden; }

/* overlay */
.us-modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: #005a7e;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s; }
  .us-modal-ready .us-modal-overlay {
    display: block; }
  .us-modal-on .us-modal-overlay {
    display: block;
    opacity: 0.7; }

/* modal box */
.us-modal-box {
  display: none;
  position: fixed;
  left: 50%;
  top: 30px;
  top: 3vh;
  z-index: 9999;
  width: 600px;
  margin: 0 0 0 -300px;
  padding: 0;
  background: white;
  opacity: 0;
  overflow: visible;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: opacity, -webkit-transform 0.2s, 0.2s;
  -moz-transition: opacity, -moz-transform 0.2s, 0.2s;
  transition: opacity, transform 0.2s, 0.2s;
  /* header */
  /* footer */ }
  .us-modal-box.us-modal-ready {
    display: block !important; }
  .us-modal-box.us-modal-on, .us-modal-box.us-modal-on.us-modal-dir-bottom, .us-modal-box.us-modal-on.us-modal-dir-right {
    display: block !important;
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
    -moz-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0); }
  .us-modal-box header, .us-modal-box footer {
    position: relative;
    float: none;
    width: auto;
    min-height: 1.4em;
    margin: 0;
    padding: 0.3em 2.3em 0.3em 0.5em;
    color: white;
    background-color: #00b7ff;
    font-family: "FS Elliot Web Regular", Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: normal; }
  .us-modal-box .us-modal-title {
    margin: 0;
    color: white;
    font-size: 1em; }
  .us-modal-box footer {
    display: none;
    position: absolute;
    bottom: -62px;
    left: 0;
    right: 0;
    height: 34px;
    padding: 14px 16px;
    color: #333333;
    background-color: #eeeeee;
    font-size: 1em; }
    .us-modal-box footer h3, .us-modal-box footer h4 {
      float: left;
      font-size: 1.2em;
      margin: 0.3em 0;
      color: #333333;
      font-family: "FS Elliot Web Bold", Helvetica, Arial, sans-serif;
      font-weight: normal; }
    .us-modal-box footer h4 {
      font-size: 1em;
      margin: 0.5em 0; }
    .us-modal-box footer p {
      float: left;
      margin: 0.5em 0;
      color: #333333; }
    .us-modal-box footer b {
      color: #333333;
      font-family: "FS Elliot Web Bold", Helvetica, Arial, sans-serif;
      font-weight: normal; }
    .us-modal-box footer button {
      float: right; }
  .us-modal-box h2 {
    font-weight: normal; }

/* window sizes */
.us-modal-xs {
  width: 400px;
  margin-left: -200px; }

.us-modal-s {
  width: 500px;
  margin-left: -250px; }

.us-modal-l {
  width: 700px;
  margin-left: -350px; }

.us-modal-xl {
  width: 800px;
  margin-left: -400px; }

/* close link */
.us-modal-close {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 2em;
  background-color: #3fc9ff;
  background: -moz-linear-gradient(top, #df4a3a 0%, #df4a3a 50%, #3fc9ff 50%, #3fc9ff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #df4a3a), color-stop(50%, #df4a3a), color-stop(50%, #3fc9ff), color-stop(100%, #3fc9ff));
  background: -webkit-linear-gradient(top, #df4a3a 0%, #df4a3a 50%, #3fc9ff 50%, #3fc9ff 100%);
  background: -ms-linear-gradient(top, #df4a3a 0%, #df4a3a 50%, #3fc9ff 50%, #3fc9ff 100%);
  background: linear-gradient(to bottom, #df4a3a 0%, #df4a3a 50%, #3fc9ff 50%, #3fc9ff 100%);
  background-size: 100% 200%;
  background-position: 0 100%;
  text-indent: -9em;
  overflow: hidden;
  -webkit-transition: background-position 200ms;
  -moz-transition: background-position 200ms;
  transition: background-position 200ms;
  -webkit-tap-highlight-color: #df4a3a; }
  .us-modal-close:before {
    position: absolute;
    top: 0.5em;
    left: 0;
    right: 0;
    content: "\2715";
    color: white;
    font-family: "uswitch-icon";
    font-size: 1em;
    text-indent: 0;
    text-align: center;
    line-height: 1; }
  .us-modal-close:hover {
    background-position: 0 0; }
    .touch .us-modal-close:hover {
      background-position: 0 100%; }

/* if no close link */
.us-modal-noclose header {
  margin-right: 0.5em; }
.us-modal-noclose .us-modal-close {
  display: none; }

/* scrollable content area */
.us-modal-content {
  max-height: 420px;
  max-height: 78vh;
  padding: 1.2em;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

/* footer */
.us-modal-footer .us-modal-content {
  max-height: 350px;
  max-height: 62vh; }
.us-modal-footer footer {
  display: block; }

/* loading spinner */
#us-modal-loading {
  width: 1px;
  height: 35px;
  margin: 40px auto 10px; }

/* smaller headers/footers */
@media screen and (max-height: 650px), screen and (max-width: 800px) {
  .us-modal-box header, .us-modal-xl header, .us-modal-l header, .us-modal-m header, .us-modal-s header, .us-modal-xs header {
    padding-top: 0.4em;
    padding-bottom: 0.2em;
    font-size: 24px; }
  .us-modal-box footer, .us-modal-xl footer, .us-modal-l footer, .us-modal-m footer, .us-modal-s footer, .us-modal-xs footer {
    bottom: -50px;
    padding: 8px 16px; }
  .us-modal-box .us-modal-content, .us-modal-xl .us-modal-content, .us-modal-l .us-modal-content, .us-modal-m .us-modal-content, .us-modal-s .us-modal-content, .us-modal-xs .us-modal-content {
    top: 48px;
    max-height: 250px;
    max-height: 62vh; }
  .us-modal-box.us-modal-footer .us-modal-content, .us-modal-xl.us-modal-footer .us-modal-content, .us-modal-l.us-modal-footer .us-modal-content, .us-modal-m.us-modal-footer .us-modal-content, .us-modal-s.us-modal-footer .us-modal-content, .us-modal-xs.us-modal-footer .us-modal-content {
    bottom: 50px; } }
/* default responsive block */
/* width - XL 800px */
@media screen and (max-width: 800px) {
  .us-modal-on.us-modal-root-xl .us-modal-overlay {
    display: none; }

  .us-modal-xl {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    max-height: 100%;
    margin: 0; }
    .us-modal-xl.us-modal-dir-bottom {
      opacity: 1;
      -webkit-transform: translateY(110%);
      -moz-transform: translateY(110%);
      transform: translateY(110%); }
    .us-modal-xl.us-modal-dir-right {
      opacity: 1;
      -webkit-transform: translateX(110%);
      -moz-transform: translateX(110%);
      transform: translateX(110%); }
    .us-modal-xl .us-modal-content {
      position: absolute;
      top: 72px;
      left: 0;
      right: 0;
      bottom: 0;
      max-height: 9999em; }
    .us-modal-xl.us-modal-footer .us-modal-content {
      bottom: 72px; }
    .us-modal-xl.us-modal-footer footer {
      bottom: 0; } }
/* width - L 700px */
@media screen and (max-width: 700px) {
  .us-modal-on.us-modal-root-l .us-modal-overlay {
    display: none; }

  .us-modal-l {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    max-height: 100%;
    margin: 0; }
    .us-modal-l.us-modal-dir-bottom {
      opacity: 1;
      -webkit-transform: translateY(110%);
      -moz-transform: translateY(110%);
      transform: translateY(110%); }
    .us-modal-l.us-modal-dir-right {
      opacity: 1;
      -webkit-transform: translateX(110%);
      -moz-transform: translateX(110%);
      transform: translateX(110%); }
    .us-modal-l .us-modal-content {
      position: absolute;
      top: 72px;
      left: 0;
      right: 0;
      bottom: 0;
      max-height: 9999em; }
    .us-modal-l.us-modal-footer .us-modal-content {
      bottom: 72px; }
    .us-modal-l.us-modal-footer footer {
      bottom: 0; } }
/* width - M (default) 600px */
@media screen and (max-width: 600px) {
  .us-modal-on.us-modal-root-m .us-modal-overlay {
    display: none; }

  .us-modal-m {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    max-height: 100%;
    margin: 0; }
    .us-modal-m.us-modal-dir-bottom {
      opacity: 1;
      -webkit-transform: translateY(110%);
      -moz-transform: translateY(110%);
      transform: translateY(110%); }
    .us-modal-m.us-modal-dir-right {
      opacity: 1;
      -webkit-transform: translateX(110%);
      -moz-transform: translateX(110%);
      transform: translateX(110%); }
    .us-modal-m .us-modal-content {
      position: absolute;
      top: 72px;
      left: 0;
      right: 0;
      bottom: 0;
      max-height: 9999em; }
    .us-modal-m.us-modal-footer .us-modal-content {
      bottom: 72px; }
    .us-modal-m.us-modal-footer footer {
      bottom: 0; } }
/* width - S 500px */
@media screen and (max-width: 500px) {
  .us-modal-on.us-modal-root-s .us-modal-overlay {
    display: none; }

  .us-modal-s {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    max-height: 100%;
    margin: 0; }
    .us-modal-s.us-modal-dir-bottom {
      opacity: 1;
      -webkit-transform: translateY(110%);
      -moz-transform: translateY(110%);
      transform: translateY(110%); }
    .us-modal-s.us-modal-dir-right {
      opacity: 1;
      -webkit-transform: translateX(110%);
      -moz-transform: translateX(110%);
      transform: translateX(110%); }
    .us-modal-s .us-modal-content {
      position: absolute;
      top: 72px;
      left: 0;
      right: 0;
      bottom: 0;
      max-height: 9999em; }
    .us-modal-s.us-modal-footer .us-modal-content {
      bottom: 72px; }
    .us-modal-s.us-modal-footer footer {
      bottom: 0; } }
/* width - XS 400px */
@media screen and (max-width: 400px) {
  .us-modal-on.us-modal-root-xs .us-modal-overlay {
    display: none; }

  .us-modal-xs {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    max-height: 100%;
    margin: 0; }
    .us-modal-xs.us-modal-dir-bottom {
      opacity: 1;
      -webkit-transform: translateY(110%);
      -moz-transform: translateY(110%);
      transform: translateY(110%); }
    .us-modal-xs.us-modal-dir-right {
      opacity: 1;
      -webkit-transform: translateX(110%);
      -moz-transform: translateX(110%);
      transform: translateX(110%); }
    .us-modal-xs .us-modal-content {
      position: absolute;
      top: 72px;
      left: 0;
      right: 0;
      bottom: 0;
      max-height: 9999em; }
    .us-modal-xs.us-modal-footer .us-modal-content {
      bottom: 72px; }
    .us-modal-xs.us-modal-footer footer {
      bottom: 0; } }
